streamlit==1.63.0
pandas==2.3.3
altair==6.2.2
PyMySQL==1.2.0
python-dotenv==1.2.3
bcrypt==4.3.0
requests==2.34.2
beautifulsoup4==4.15.0
Pillow==11.3.0
pypdf==5.9.0
pdf2image==1.17.0
pytesseract==0.3.13
